<div id="cex_hud">
	<div id="cex_header">
		<img id="cex_logo" src="" width="107" height="24" />
		<a href="#" class="cex_more" target="_blank">More Data &amp; More Info &raquo;</a>
        <a href="#" class="cex_close"><img id="cex_close" src="" width="24" height="24" /></a>
		<script type="text/javascript">
            if (typeof window !== 'undefined' && !_.isUndefined(window.chrome)) {
              <% self.options = { baseURI: '' } %>
              $('#cex_header #cex_logo').attr('src',chrome.extension.getURL('images/logo-small-white.svg'));
              $('#cex_header #cex_close').attr('src',chrome.extension.getURL('images/close.png'));
              $('.cex_more').attr('href',chrome.extension.getURL('page/page.html'));

            } else if (typeof safari !== 'undefined') {
              <% self.options = { baseURI: '' } %>
              $('#cex_header #cex_logo').attr('src',safari.extension.baseURI + 'images/logo-small-white.png');
              $('#cex_header #cex_close').attr('src',safari.extension.baseURI + 'images/close.png');
              $('#cex_header .cex_close').attr('href',safari.extension.baseURI + 'page/page.html');
              $('.cex_more').attr('href',safari.extension.baseURI + 'page/page.html');
            } else {
              $('#cex_header #cex_logo').attr('src', '<%= self.options.baseURI %>images/logo-small-white.svg');
              $('#cex_header #cex_close').attr('src', '<%= self.options.baseURI %>images/close.png');
              $('#cex_header .cex_close').attr('href', '<%= self.options.baseURI %>page/page.html');
            }
		</script>
	</div>

	<div id="cex_main">

	<% if (currentEntry) { %>

	  	<div id="cex_badge">

	  		<div id="cex_badge_column">

				<% if (citizenship.length > 0) { %>

				<h2>This is your Algorithmic Citizenship</h2>
				
				<img id="cex_badge_image" src="" />

				<canvas id="cex_badge_canvas"></canvas>

				<p id="cex_whatmeans"><a href="http://citizen-ex.com/citizenship/" target="_blank">What does this mean?</a></p>
				<p id="cex_sharebuttons">Share Via:<p>
				<p id="cex_sharebuttons">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://citizen-ex.com" target="_blank" class="cex_share_facebook">Facebook</a>&nbsp;&nbsp;&nbsp;
					<a href="" target="_blank" class="cex_share_twitter">Twitter</a>&nbsp;&nbsp;&nbsp;
					<a href="" target="_blank" class="cex_share_email">Email</a>&nbsp;&nbsp;&nbsp;
				</p>
<!--
				<p id="cex_sharebuttons">
					<a href="#" class="cex_share_badge">Save your badge for sharing</a>&nbsp;&nbsp;&nbsp;
				</p>
-->

				<script>
					var tweetstring = '';
					<% _.each(citizenship, function(country) { %>
						if (tweetstring.length < 40) {
							tweetstring += '<%= country.percentage %>% <%= cxPanel.convertCountryCode(country.code) %>, ';
							}
					<% }); %>
					tweetstring = tweetstring.substring(0,tweetstring.length-2);
					var twittext = encodeURI("My Algorithmic Citizenship is "+tweetstring+". What's yours?");
					var url = encodeURI('http://citizen-ex.com');
					$('.cex_share_twitter').attr('href','https://twitter.com/intent/tweet?text='+twittext+'&hashtags=citizenex&url='+url);
					var emailtext = 'mailto:?Subject=What%27s%20Your%20Algorithmic%20Citizenship%3F&Body=My%20Algorithmic%20Citizenship%20is%20'+encodeURI(tweetstring)+'.%0A%0AAs%20you%20move%20around%20the%20web%2C%20the%20data%20you%20generate%20tells%20the%20internet%20about%20you.%20It%27s%20used%20by%20advertising%20companies%20to%20decide%20which%20ads%20you%20see%2C%20and%20security%20agencies%20to%20determine%20where%20you%20come%20from%2C%20in%20order%20to%20track%20and%20surveil%20you.%20Your%20Algorithmic%20Citizenship%20is%20how%20you%20appear%20to%20the%20internet%2C%20a%20series%20of%20datapoints%20extending%20across%20many%20nations%2C%20with%20a%20different%20citizenship%20and%20different%20rights%20in%20every%20place.%20One%20day%20perhaps%20we%20will%20all%20live%20like%20we%20do%20on%20the%20internet.%20Until%20then%2C%20there%27s%20Citizen%20Ex.%0A%0AFind%20out%20more%20at%20http%3A//citizen-ex.com';
					$('.cex_share_email').attr('href',emailtext);
				</script>

			</div><!-- cex_badge_column -->

			<div id="cex_data_column">

				<table id="distribution_table">
					<tr>
						<td class="thead cex_country">Your distribution</td>
						<td class="thead cex_percentage">%</td>
					</tr>
				<% var i = 0; var extras = 0; _.each(citizenship, function(country) { if (i<12) { %>
					<tr>
						<td class="cex_country"><%= cxPanel.convertCountryCode(country.code) %></td>
						<td class="cex_percentage"><%= country.percentage %></td>
					</tr>
				<% i++; } else { extras++; } }); if (extras > 0 ) { %>
					<tr>
						<td class="cex_country"><a href="#" class="cex_more" target="_blank">+<%= extras %> more...</a></td>
						<td class="cex_percentage"></td>
					</tr>
				<% } %>
				</table>
			</div><!-- cex_data_column -->

			<script type="text/javascript">
				var percents = [
				<% _.each(citizenship, function(country) { %>
				  ["<%= country.code %>",<%= country.percentage %>],
				  <% }); %>];
					// set canvas to css heights
				$('#cex_badge_canvas').attr('width', parseInt($('#cex_badge_canvas').css('width')));
				$('#cex_badge_canvas').attr('height', parseInt($('#cex_badge_canvas').css('height')));
				
				var countries = percents.length;
				var countries_count = 0;

/*
				var cex_canvas = document.createElement("canvas");
				cex_canvas.height = parseInt($('#cex_badge_canvas').css('width'));
				cex_canvas.width = parseInt($('#cex_badge_canvas').css('height'));
*/
				var cex_canvas = $('#cex_badge_canvas').get(0);
				var badge = cex_canvas.getContext("2d");

				// circle centre and radius
				var x0 = $('#cex_badge_canvas').attr('width')/2;
				var y0 = $('#cex_badge_canvas').attr('height')/2;
				var r = Math.min($('#cex_badge_canvas').attr('height')/2,$('#cex_badge_canvas').attr('width')/2);

				var circlepointer = 0;

				$.each(percents, function() {
					var country = this[0];
					var value = this[1];
					var degrees = 360*(value/100);
					drawSegment(badge,x0,y0,r,circlepointer,country,degrees);
					circlepointer = circlepointer + degrees;
					});

				var title = encodeURIComponent('Citizen Ex');
				var summary = encodeURIComponent("This is my Algorithmic Citizenship. What's yours?");
				var url = encodeURIComponent('http://citizen-ex.com');

				function drawSegment(badge,x0,y0,r,circlepointer,country,degrees) {
					var img = new Image();
					//img.crossOrigin = "Anonymous";
					img.onload = function() {
						var flagscaledheight = badge.canvas.clientHeight;
						var flagscaledwidth = flagscaledheight*(img.width/img.height);
						var flagmargin = (flagscaledwidth - badge.canvas.clientWidth) / 2;
						var svgCanvas = document.createElement("canvas");
				    	svgCanvas.height = flagscaledheight;
				    	svgCanvas.width = flagscaledwidth;
				    	var svgCtx = svgCanvas.getContext("2d");
				    	svgCtx.drawImage(img, -flagmargin, 0, flagscaledwidth, flagscaledheight); 
				    	var pattern = badge.createPattern(svgCanvas, 'repeat');
				    	badge.fillStyle = pattern;
						badge.beginPath();
						badge.moveTo(x0, y0);
						var xy = circleCoords(x0,y0,r,circlepointer);
						badge.lineTo(xy[0],xy[1]);
						for (i = 0; i < degrees; i=i+20) {
							xy = circleCoords(x0,y0,r,circlepointer+i);
							badge.lineTo(xy[0],xy[1]);
							}
						xy = circleCoords(x0,y0,r,circlepointer+degrees);
						badge.lineTo(xy[0],xy[1]);
						badge.closePath();
						badge.lineWidth=1;
						badge.strokeStyle="#888";
						badge.stroke();
						badge.fill();
						countries_count++;
/*
						if (countries == countries_count) {
							badgeImage = cex_canvas.toDataURL();
							$('#cex_badge_image').attr('src',badgeImage);
							$('#cex_badge_canvas').hide();
							$('#cex_badge_image').show();
							};
*/
				      	};
                      if (typeof window !== 'undefined' && !_.isUndefined(window.chrome)) {
                      	if (country.length == 0) {
                      		img.src = chrome.extension.getURL('flags/Unknown.svg');
                      	} else {
                        	img.src = chrome.extension.getURL('flags/'+country+'.svg');
                        	}
                      } else if (typeof safari !== 'undefined') {
                       	if (country.length == 0) {
                      		img.src = safari.extension.baseURI + 'flags/Unknown.png';
                      	} else {
                        	img.src = safari.extension.baseURI + 'flags/'+country+'.png';
                        	}
                      } else {
                      	if (country.length == 0) {
                      		img.src = '<%= self.options.baseURI %>flags/Unknown.svg';
                      	} else {
                        	img.src = '<%= self.options.baseURI %>flags/'+country+'.svg';
                        	}
                      }
					}

				function circleCoords(x0,y0,r,theta) {
					var x = x0 + r * Math.cos(theta * Math.PI / 180);
					var y = y0 + r * Math.sin(theta * Math.PI / 180);
					return [x,y];
					}
					
				$('.cex_share_badge').click(function () {
					var badgeImg = new Image();
					badgeImg.crossOrigin = "anonymous";
					badgeImg.onload = function() {
						var badgeCanvas = document.createElement("canvas");
					    badgeCanvas.width = 600;
						badgeCanvas.height = 350;
					    var badgeContext = badgeCanvas.getContext("2d");
	  					badgeContext.drawImage(badgeImg, 0, 0);
	  					badgeContext.drawImage(cex_canvas, 285, 35, 280, 280);
						var badgeImage = badgeCanvas.toDataURL();
						window.open(badgeImage);
						};
					if (!_.isUndefined(window.chrome)) {
						badgeImg.src = chrome.extension.getURL('images/share-card.png');
                    } else if (typeof safari !== 'undefined') {
						badgeImg.src = safari.extension.baseURI + 'images/share-card.png';
                    } else {
                      	badgeImg.src = '<%= self.options.baseURI %>images/share-card.png';
                    }

					});

			</script>

		</div><!-- cex_badge -->

				<% } else { %>
				  <h2>No Citizenship data available yet. Keep browsing!</h2>
				<% }; %>

		<div id="cex_map">

		<div id="cex_map_window" class="dark">
			<img id="cex_map_loading" src="" alt="Loading"/>
  		</div>

	  	<script type="text/javascript">
        if (typeof window !== 'undefined' && !_.isUndefined(window.chrome)) {
          $('img#cex_map_loading').attr('src',chrome.extension.getURL('images/loading.gif'));
        } else if (typeof safari !== 'undefined') {
          $('img#cex_map_loading').attr('src',safari.extension.baseURI + 'images/loading.gif');
        } else {
          $('img#cex_map_loading').attr('src','<%= self.options.baseURI %>' + 'images/loading.gif');
        }

	  	setTimeout(function(){ cex_drawMap(); }, 1000);
	  	function cex_drawMap() {
	  		L.mapbox.accessToken = 'pk.eyJ1Ijoic3RtbCIsImEiOiJDQ1FDcFNVIn0.C7ThVrFnQ7a7COlJe8tARw';
	  		var cexmap = L.mapbox.map('cex_map_window', 'stml.l6086pbg', { zoomControl:false, maxZoom: 12, minZoom: 2, maxBounds: [[-90,-180],[90,180]] });
			cexmap.attributionControl.setPrefix("Cable Data: Telegeography");
            var yellowMarker;
            var cyanMarker;
            var tabMarker;

            if (typeof window !== 'undefined' && !_.isUndefined(window.chrome)) {
              cyanMarker = chrome.extension.getURL('images/map-pin-blue.png');
              yellowMarker = chrome.extension.getURL('images/map-pin-yellow.png');
              tabMarker = chrome.extension.getURL('images/map-marker-tab.png');
            } else if (typeof safari !== 'undefined') {
              cyanMarker = safari.extension.baseURI + 'images/map-pin-blue.png';
              yellowMarker = safari.extension.baseURI + 'images/map-pin-yellow.png';
              tabMarker = safari.extension.baseURI + 'images/map-marker-tab.png';
            } else {
              cyanMarker = '<%= self.options.baseURI %>' + 'images/map-pin-blue.png';
              yellowMarker = '<%= self.options.baseURI %>' + 'images/map-pin-yellow.png';
              tabMarker = '<%= self.options.baseURI %>' + 'images/map-marker-tab.png';
            }

			var destIcon = L.icon({
				iconUrl: yellowMarker,
				iconSize:     [41,41], // size of the icon
				iconAnchor:   [20,20], // point of the icon which will correspond to marker's location
				});
			var origIcon = L.icon({
				iconUrl: cyanMarker,
				iconSize:     [41,41], // size of the icon
				iconAnchor:   [20,20], // point of the icon which will correspond to marker's location
				});
			var tabIcon = L.icon({
				iconUrl: tabMarker,
				iconSize:     [9,9], // size of the icon
				iconAnchor:   [5,5], // point of the icon which will correspond to marker's location
				});

			var cableLayer = L.mapbox.featureLayer()
		         .setGeoJSON(cables)
		         .setStyle({"color": "#ffffff","weight": 1,"opacity": 0.25})
		         .addTo(cexmap);

			// if we have location data
			<% if (ownGeoData && ownGeoData.ownLat || currentEntry.lat) { %>

				var cexmarkergroup = new L.featureGroup();

				// if we have a local location
				<% if (ownGeoData.ownLat) { %>
					// if we have city-level data
					<% if (ownGeoData.ownCity.length > 0) { %>
						var origMarker = L.marker([<%= ownGeoData.ownLat %>, <%= ownGeoData.ownLng %>], {icon: origIcon, clickable: false}).addTo(cexmap);
						cexmarkergroup.addLayer(origMarker);
					<% } else { %>
						var isocode = '<%= cxPanel.convertIsoCode(ownGeoData.ownCountryCode) %>';
						var cex_outline = window['cex_country_'+isocode];
	                	var geojsonLayer = L.mapbox.featureLayer()
	                		.setGeoJSON(cex_outline)
	                		.setStyle({"color": "#00dcdc","weight": 1,"opacity": 1,"fillColor":"#00dcdc","fillOpacity":0.25})
	                		.addTo(cexmap);
						cexmarkergroup.addLayer(geojsonLayer);
					<% } %>
				<% } %>

				// if we have a remote location
				<% if (currentEntry.lat) { %>
					// if we have city-level data
					<% if (currentEntry.city.length > 0) { %>
						var destMarker = L.marker([<%= currentEntry.lat %>, <%= currentEntry.lng %>], {icon: destIcon, clickable: false}).addTo(cexmap);
						cexmarkergroup.addLayer(destMarker);
					<% } else { %>
						var isocode = '<%= cxPanel.convertIsoCode(currentEntry.countryCode) %>';
						var cex_outline = window['cex_country_'+isocode];
	                	var geojsonLayer = L.mapbox.featureLayer()
	                		.setGeoJSON(cex_outline)
	                		.setStyle({"color": "#fff000","weight": 1,"opacity": 1,"fillColor":"#fff000","fillOpacity":0.25})
	                		.addTo(cexmap);
						cexmarkergroup.addLayer(geojsonLayer);
					<% } %>
				<% } %>

				// if we have both a local and a remote city-level location
				<% if (ownGeoData.ownCity && currentEntry.city) { %>
					<% if (ownGeoData.ownCity.length > 0 && currentEntry.city.length > 0) { %>
						var cexmarkerline = L.polyline([[<%= ownGeoData.ownLat %>, <%= ownGeoData.ownLng %>],[<%= currentEntry.lat %>, <%= currentEntry.lng %>]], { color: '#fff', weight: 1, opacity: 1 }).addTo(cexmap);
					<% } %>
				<% } %>
				cexmap.fitBounds(cexmarkergroup.getBounds(), {padding: [50,50], maxZoom: 9});

			// else if we have no location data
			<% } else { %>
				cexmap.setView([0,0],2);
			<% } %>

		    // kill loading circle
		    $('img#cex_map_loading').hide();
		    }

	  	</script>

	    		<div id="cex_mapdata">

	    			<div id="cex_dest_column">
	    				<h3>Current remote location</h3>
					    <% if (currentEntry.ip) { %>
					      <p><strong><% if (currentEntry.city.length > 0) { %><%= currentEntry.city %>, <% } %><%= cxPanel.convertCountryCode(currentEntry.countryCode) %></strong></p>
					      <p>IP Address: <%= currentEntry.ip %></p>
					      <% if (currentEntry.city.length > 0) { %>
					      	<p>Lat: <%= currentEntry.lat %> / Lon: <%= currentEntry.lng %></p>
					      <% } else { %>
					      	<p>&nbsp;</p>
					      <% } %>
					    <% } else { %>
					      <p><strong>Tracing remote location...</strong></p>
					      <p>&nbsp;</p>
					      <p>&nbsp;</p>
					    <% }; %>
				    </div><!-- cex_dest_column -->
				    <div id="cex_orig_column">
	    				<h3>Your tracked location</h3>
					    <% if (ownGeoData && ownGeoData.ownIp) { %>
					      <p><strong><% if (ownGeoData.ownCity.length > 0) { %><%= ownGeoData.ownCity %>, <% } %><%= cxPanel.convertCountryCode(ownGeoData.ownCountryCode) %></strong></p>
					      <p>IP Address: <%= ownGeoData.ownIp %></p>
					      <% if (ownGeoData.ownCity.length > 0) { %>
							<p>Lat: <%= ownGeoData.ownLat %> / Lon: <%= ownGeoData.ownLng %></p>
					      <% } else { %>
					      	<p>&nbsp;</p>
					      <% } %>
					    <% } else { %>
					      <p><strong>Tracing your location...</strong></p>
					      <p>&nbsp;</p>
					      <p>&nbsp;</p>
					    <% }; %>
				    </div><!-- cex_orig_column -->
				</div><!-- cex_mapdata -->

	    </div><!-- cex_map -->

	  <% } else { %>

	  		<div id="cex_nodata">
				<p>No data available yet.</p>
			</div>
	  <% }; %>

	</div><!-- #cex_main -->

</div><!-- #cex_hud -->
