<div id="cex_hud">
	<div id="cex_header">
		<img id="cex_logo" src="" width="107" height="24" />
		<a href="#" class="cex_more" target="_blank">More Data &amp; Settings &raquo;</a>
        <a href="#" class="cex_close"><img id="cex_close" src="" width="24" height="24" /></a>
		<script type="text/javascript">
            if (!_.isUndefined(window.chrome)) {
              $('#cex_header #cex_logo').attr('src',chrome.extension.getURL('images/logo-small-white.svg'));
              $('#cex_header #cex_close').attr('src',chrome.extension.getURL('images/close.png'));
              $('.cex_more').attr('href',chrome.extension.getURL('page/page.html'));

            } else if (safari) {
              $('#cex_header #cex_logo').attr('src',safari.extension.baseURI + 'images/logo-small-white.png');
              $('#cex_header #cex_close').attr('src',safari.extension.baseURI + 'images/close.png');
              $('#cex_header .cex_close').attr('href',safari.extension.baseURI + 'more_info.html');
              $('.cex_more').attr('href',safari.extension.baseURI + 'page/page.html');
            }
		</script>
	</div>

	<div id="cex_main">

	<% if (currentEntry) { %>

	  	<div id="cex_badge">

	  		<div id="cex_badge_column">

				<% if (citizenship.length > 0) { %>

				<h2>This is your Algorithmic Citizenship</h2>

				<canvas id="cex_badge_canvas"></canvas>

				<p id="cex_whatmeans"><a href="http://citizen-ex.com/citizenship/" target="_blank">What does this mean?</a></p>
				<ul id="cex_sharebuttons">
					<li>Share:</li>
					<li><a href="#" class="cex_share_facebook">Facebook</a></li>
					<li><a href="#" class="cex_share_twitter">Twitter</a></li>
					<li><a href="#" class="cex_share_email">Email</a></li>
				</ul>

			</div><!-- cex_badge_column -->

			<div id="cex_data_column">

				<table id="distribution_table">
					<tr>
						<td class="thead cex_country">Your distribution</td>
						<td class="thead cex_percentage">%</td>
					</tr>
				<% _.each(citizenship, function(country) { %>
					<tr>
						<td class="cex_country"><%= cxPanel.convertCountryCode(country.code) %></td>
						<td class="cex_percentage"><%= country.percentage %></td>
					</tr>
				<% }); %>
				</table>

			</div><!-- cex_data_column -->

			<script type="text/javascript">
				var percents = [
				<% _.each(citizenship, function(country) { %>
				  ["<%= country.code %>",<%= country.percentage %>],
				  <% }); %>];
					// set canvas to css heights
				$('#cex_badge_canvas').attr('width', parseInt($('#cex_badge_canvas').css('width')));
				$('#cex_badge_canvas').attr('height', parseInt($('#cex_badge_canvas').css('height')));

				var badge = $("#cex_badge_canvas").get(0).getContext("2d");

				// circle centre and radius
				var x0 = $('#cex_badge_canvas').attr('width')/2;
				var y0 = $('#cex_badge_canvas').attr('height')/2;
				var r = Math.min($('#cex_badge_canvas').attr('height')/2,$('#cex_badge_canvas').attr('width')/2);

				var circlepointer = 0;

				$.each(percents, function() {
					var country = this[0];
					var value = this[1];
					var degrees = 360*(value/100);
					drawSegment(badge,x0,y0,r,circlepointer,country,degrees);
					circlepointer = circlepointer + degrees;
					});

				function drawSegment(badge,x0,y0,r,circlepointer,country,degrees) {
					var img = new Image();
					img.onload = function() {
						var flagscaledheight = badge.canvas.clientHeight;
						var flagscaledwidth = flagscaledheight*(img.width/img.height);
						var flagmargin = (flagscaledwidth - badge.canvas.clientWidth) / 2;
						var svgCanvas = document.createElement("canvas");
				    	svgCanvas.height = flagscaledheight;
				    	svgCanvas.width = flagscaledwidth;
				    	var svgCtx = svgCanvas.getContext("2d");
				    	svgCtx.drawImage(img, -flagmargin, 0, flagscaledwidth, flagscaledheight);
				    	var pattern = badge.createPattern(svgCanvas, 'repeat');
				    	badge.fillStyle = pattern;
						badge.beginPath();
						badge.moveTo(x0, y0);
						var xy = circleCoords(x0,y0,r,circlepointer);
						badge.lineTo(xy[0],xy[1]);
						for (i = 0; i < degrees; i=i+20) {
							xy = circleCoords(x0,y0,r,circlepointer+i);
							badge.lineTo(xy[0],xy[1]);
							}
						xy = circleCoords(x0,y0,r,circlepointer+degrees);
						badge.lineTo(xy[0],xy[1]);
						badge.closePath();
						badge.lineWidth=1;
						badge.strokeStyle="#888";
						badge.stroke();
						badge.fill();
				      	};
                      if (!_.isUndefined(window.chrome)) {
                        img.src = chrome.extension.getURL('flags/'+country+'.svg');
                      } else if (safari) {
                        img.src = safari.extension.baseURI + 'flags/'+country+'.png';
                      }
					}

				function circleCoords(x0,y0,r,theta) {
					var x = x0 + r * Math.cos(theta * Math.PI / 180);
					var y = y0 + r * Math.sin(theta * Math.PI / 180);
					return [x,y];
					}

			</script>

		</div><!-- cex_badge -->

				<% } else { %>
				  <h2>No Citizenship data available yet. Keep browsing!</h2>
				<% }; %>

		<div id="cex_map">

		<div id="cex_map_window" class="dark">
			<img id="cex_map_loading" src="" alt="Loading"/>
			<!-- Add mapbox watermark -->
  			<a href="http://mapbox.com/about/maps" class='mapbox-maplogo' target="_blank">MapBox</a>
  		</div>

	  	<script type="text/javascript">
        if (!_.isUndefined(window.chrome)) {
          $('img#cex_map_loading').attr('src',chrome.extension.getURL('images/loading.gif'));
        } else if (safari) {
          $('img#cex_map_loading').attr('src',safari.extension.baseURI + 'images/loading.gif');
        }
	  	setTimeout(function(){ cex_drawMap(); }, 1000);
	  	function cex_drawMap() {
			var cexmap = L.map('cex_map_window', { zoomControl:false });
			var cextilelayer = L.tileLayer('https://{s}.tiles.mapbox.com/v3/stml.l6086pbg/{z}/{x}/{y}.png', {
				attribution: '<a href="http://openstreetmap.org/copyright">Map data: &copy; OpenStreetMap</a>'}).addTo(cexmap);
			cextilelayer.on('tileerror', function(error, tile) {
			    console.log(error);
			    console.log(tile);
				});
			cexmap.attributionControl.setPrefix("");
            var yellowMarker;
            var cyanMarker;
            var tabMarker;

            if (!_.isUndefined(window.chrome)) {
              cyanMarker = chrome.extension.getURL('images/map-pin-blue.png');
              yellowMarker = chrome.extension.getURL('images/map-pin-yellow.png');
              tabMarker = chrome.extension.getURL('images/map-marker-tab.png');
            } else if (safari) {
              cyanMarker = safari.extension.baseURI + 'images/map-pin-blue.png';
              yellowMarker = safari.extension.baseURI + 'images/map-pin-yellow.png';
              tabMarker = safari.extension.baseURI + 'images/map-marker-tab.png';
            }

			var destIcon = L.icon({
				iconUrl: yellowMarker,
				iconSize:     [41,41], // size of the icon
				iconAnchor:   [20,20], // point of the icon which will correspond to marker's location
				});
			var origIcon = L.icon({
				iconUrl: cyanMarker,
				iconSize:     [41,41], // size of the icon
				iconAnchor:   [20,20], // point of the icon which will correspond to marker's location
				});
			var tabIcon = L.icon({
				iconUrl: tabMarker,
				iconSize:     [9,9], // size of the icon
				iconAnchor:   [5,5], // point of the icon which will correspond to marker's location
				});

/*
            <% if (openTabEntries) { %>
              <% _.each(openTabEntries, function(tabEntry) { %>
                  <% if (tabEntry.url !== currentEntry.url) { %>
                      var tabMarker = L.marker([<%= tabEntry.lat %>, <%= tabEntry.lng %>], {icon: tabIcon}).addTo(cexmap);
                  <% } %>
              <% }) %>
            <% } %>
*/

			<% if (ownGeoData && currentEntry.lat && currentEntry.lng) { %>
				var cexmarkerline = L.polyline([[<%= ownGeoData.ownLat %>, <%= ownGeoData.ownLng %>],[<%= currentEntry.lat %>, <%= currentEntry.lng %>]], { color: '#fff', weight: 1, opacity: 1 }).addTo(cexmap);
			<% } %>

			var cexmarkergroup = new L.featureGroup();
			<% if (ownGeoData && ownGeoData.ownIp) { %>
				var origMarker = L.marker([<%= ownGeoData.ownLat %>, <%= ownGeoData.ownLng %>], {icon: origIcon}).addTo(cexmap);
				cexmarkergroup.addLayer(origMarker);
			<% } else { %>
		    <% }; %>
			<% if (currentEntry.ip) { %>
				var destMarker = L.marker([<%= currentEntry.lat %>, <%= currentEntry.lng %>], {icon: destIcon}).addTo(cexmap);
				cexmarkergroup.addLayer(destMarker);
		    <% } else { %>

		    <% }; %>
		    cexmap.fitBounds(cexmarkergroup.getBounds(), {padding: [50,50]});
		    // kill loading circle
		    $('img#cex_map_loading').hide();
		    }

	  	</script>

	    		<div id="cex_mapdata">

	    			<div id="cex_dest_column">
	    				<h3>Current remote location</h3>
					    <% if (currentEntry.ip) { %>
					      <p><strong><% if (currentEntry.city.length > 0) { %><%= currentEntry.city %>, <% } %><%= cxPanel.convertCountryCode(currentEntry.countryCode) %></strong></p>
					      <p>IP Address: <%= currentEntry.ip %></p>
					      <p>Lat: <%= currentEntry.lat %> / Lon: <%= currentEntry.lng %></p>
					    <% } else { %>
					      <p><strong>Remote location is unknown</strong></p>
					      <p>&nbsp;</p>
					      <p>&nbsp;</p>
					    <% }; %>
				    </div><!-- cex_dest_column -->
				    <div id="cex_orig_column">
	    				<h3>Your tracked location</h3>
					    <% if (ownGeoData && ownGeoData.ownIp) { %>
					      <p><strong><% if (ownGeoData.ownCity.length > 0) { %><%= ownGeoData.ownCity %>, <% } %><%= cxPanel.convertCountryCode(ownGeoData.ownCountryCode) %></strong></p>
					      <p>IP Address: <%= ownGeoData.ownIp %></p>
					      <p>Lat: <%= ownGeoData.ownLat %> / Lon: <%= ownGeoData.ownLng %></p>
					    <% } else { %>
					      <p><strong>Your location is unknown</strong></p>
					      <p>&nbsp;</p>
					      <p>&nbsp;</p>
					    <% }; %>
				    </div><!-- cex_orig_column -->
				</div><!-- cex_mapdata -->

	    </div><!-- cex_map -->

	  <% } else { %>

	  		<div id="cex_nodata">
				<p>No data available yet.</p>
			</div>
	  <% }; %>

	</div><!-- #cex_main -->

</div><!-- #cex_hud -->
