<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
<div id="cex_hud">

	<div id="cex_header">
		<h1>Citizen Ex</h1>
		<a href="#" name="settings">More Info</a>
	</div>

	<div id="cex_main">

	<% if (entry) { %>

	  	<div id="cex_badge">

				<% if (citizenship.length > 0) { %>

				<canvas id="cex_badge_canvas"></canvas>

				<h2>This is your Algorithmic Citizenship</h2>
				<p>You are
				<% _.each(citizenship, function(country) { %>
				  <%= country.percentage %>% <%= country.code %>,
				<% }); %>.</p>

				<div id="cex_mapdata">
				    <% if (ownGeoData && ownGeoData.ownIp) { %>
				      <p>Your IP: <%= ownGeoData.ownIp %>. You’re in <%= ownGeoData.ownCity %>, <%= ownGeoData.ownCountryCode %>.</p>
				      <p>Your Lat: <%= ownGeoData.ownLat %>, Lng: <%= ownGeoData.ownLng %></p>
				    <% } else { %>
				      <p>No local geo data available yet.</p>
				    <% }; %>
				    <% if (entry.ip) { %>
				      <p>Website IP: <%= entry.ip %>. This address is located in <%= entry.city %>, <%= entry.countryCode %>.</p>
				      <p>Website Lat: <%= entry.lat %>, Lng: <%= entry.lng %></p>
				      </div>

				    <% } else { %>
				      <p>No remote geo data available yet.</p>
				    <% }; %>
				</div><!-- cex_mapdata -->

				<script type="text/javascript">
				var percents = [
				<% _.each(citizenship, function(country) { %>
				  ["<%= country.code %>",<%= country.percentage %>],
				  <% }); %>];
					// set canvas to css heights
				$('#cex_badge_canvas').attr('width', parseInt($('#cex_badge_canvas').css('width')));
				$('#cex_badge_canvas').attr('height', parseInt($('#cex_badge_canvas').css('height')));

				var badge = $("#cex_badge_canvas").get(0).getContext("2d");

				// circle centre and radius
				var x0 = $('#cex_badge_canvas').attr('width')/2;
				var y0 = $('#cex_badge_canvas').attr('height')/2;
				var r = Math.min($('#cex_badge_canvas').attr('height')/2,$('#cex_badge_canvas').attr('width')/2);

				var circlepointer = 0;

				$.each(percents, function() {
					var country = this[0];
					var value = this[1];
					var degrees = 360*(value/100);
					drawSegment(badge,x0,y0,r,circlepointer,country,degrees);
					circlepointer = circlepointer + degrees;
					});

				function drawSegment(badge,x0,y0,r,circlepointer,country,degrees) {
					var img = new Image();
					img.onload = function() {
						var flagscaledheight = badge.canvas.clientHeight;
						var flagscaledwidth = flagscaledheight*(img.width/img.height);
						var flagmargin = (flagscaledwidth - badge.canvas.clientWidth) / 2;
						console.log(flagscaledheight,flagscaledwidth,flagmargin);
						var svgCanvas = document.createElement("canvas");
				    	svgCanvas.height = flagscaledheight;
				    	svgCanvas.width = flagscaledwidth;
				    	var svgCtx = svgCanvas.getContext("2d");
				    	svgCtx.drawImage(img, -flagmargin, 0, flagscaledwidth, flagscaledheight);
				    	var pattern = badge.createPattern(svgCanvas, 'repeat');
				    	badge.fillStyle = pattern;
						badge.beginPath();
						badge.moveTo(x0, y0);
						var xy = circleCoords(x0,y0,r,circlepointer);
						badge.lineTo(xy[0],xy[1]);
						for (i = 0; i < degrees; i=i+30) {
							xy = circleCoords(x0,y0,r,circlepointer+i);
							badge.lineTo(xy[0],xy[1]);
							}
						xy = circleCoords(x0,y0,r,circlepointer+degrees);
						badge.lineTo(xy[0],xy[1]);
						badge.closePath();
						badge.fill();
				      	};
                      if (!_.isUndefined(window.chrome)) {
                        img.src = chrome.extension.getURL('flags/'+country+'.svg');
                      } else if (safari) {
                        img.src = safari.extension.baseURI + 'flags/'+country+'.svg';
                      }
					}

				function circleCoords(x0,y0,r,theta) {
					var x = x0 + r * Math.cos(theta * Math.PI / 180);
					var y = y0 + r * Math.sin(theta * Math.PI / 180);
					return [x,y];
					}
				</script>

		</div><!-- cex_badge -->

				<% } else { %>
				  <p>No Citizenship data available yet. Keep browsing!</p>
				<% }; %>

		<div id="cex_map">

		<div id="cex_map_window" class="dark"></div>

	  	<script type="text/javascript">
	  	L.mapbox.accessToken = 'pk.eyJ1Ijoic3RtbCIsImEiOiJDQ1FDcFNVIn0.C7ThVrFnQ7a7COlJe8tARw';
		var map = L.mapbox.map('cex_map_window', 'stml.l6086pbg');
		<% if (ownGeoData && ownGeoData.ownIp) { %>
			var origMarker = L.marker([<%= ownGeoData.ownLat %>, <%= ownGeoData.ownLng %>]).addTo(map);
			origMarker.bindPopup("Website: <%= entry.city %>, <%= entry.countryCode %> (<%= entry.ip %>)").openPopup();
		<% } else { %>
	    <% }; %>
		<% if (entry.ip) { %>
			var destMarker = L.marker([<%= entry.lat %>, <%= entry.lng %>]).addTo(map);
			destMarker.bindPopup("Website: <%= entry.city %>, <%= entry.countryCode %> (<%= entry.ip %>)").openPopup();
	    <% } else { %>

	    <% }; %>
	  	</script>

	    </div>

	  <% } else { %>

	  		<div id="cex_nodata">
				<p>No data available yet.</p>
			</div>
	  <% }; %>

	</div><!-- #cex_main -->

</div><!-- #cex_hud -->
