body#cex_page {
	background: #666;
	color: #fff;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 30px;
	letter-spacing: 0.15rem;
	}

body#cex_page #container {
	margin: 0 50px;
	}

body#cex_page #header {
	margin: 25px 0 50px;
	}
body#cex_page #header p.homepage {
	float: right;
	}
body#cex_page #header p.homepage a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.2rem;
	}
body#cex_page #header p.homepage a:hover {
	color: #fff000;
	border-bottom: 1px solid #fff000;
	}
	
body#cex_page .section {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 50px;
	}	

body#cex_page #toggles {
	width: 25%;
	float: left;
	}
body#cex_page #toggles p {
	font-size: 30px;
	line-height: 1.33;
	margin-bottom: 20px;
	color: #fff;
	}
body#cex_page #toggles ul {
	list-style: none;
	}
body#cex_page #toggles ul li {
	line-height: 1.33;
	}
body#cex_page #toggles ul li a {
	font-size: 30px;
	color: #b3b3b3;
	text-decoration: none;
	}
body#cex_page #toggles ul li a:hover {
	color: #fff;
	}
body#cex_page #toggles ul li a.selected {
	color: #fff;
	}

body#cex_page badge {	
	float: left;
	width: 50%;
	}
body#cex_page canvas#cex_badge_canvas {
	width: 550px;
	height: 550px;
	}

body#cex_page #tables #distribution {
	float: left;
	width: 45%;
	}	
body#cex_page #tables #sites {
	float: right;
	width: 45%;
	}
body#cex_page #tables table {
	width: 100%;
    table-layout: fixed;
	}
body#cex_page #tables table .thead {
	font-weight: bold;
	}
body#cex_page #tables table tr {
	border-top: 1px solid #fff;
	}
body#cex_page #tables table tr:first-child {
	border-top: none;
	}
body#cex_page #tables table tr:first-child td {
	padding: 0 0 6px;
	}
body#cex_page #tables table td {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #fff;
	font-size: 20px;
	padding: 6px 0;
	border: none;
	display: table-cell;
	}
.body#cex_page #tables table td.first {
	text-align: left;
	}
body#cex_page #tables table td.second {
	text-align: right;
	padding-left: 20px;
	}