/* The Basics
----------------------------------------------------------------------------- */
body#cex_page {
	background: #666;
	color: #fff;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	letter-spacing: 0.06rem;
	margin: 0;
	padding: 0;
	}
body#cex_page #container {
	}
body#cex_page .section {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 25px 50px;
	box-sizing: border-box;
	font-size: 20px;
	}
	@media (max-width: 1100px) { body#cex_page .section { font-size: 16px;} }
	@media (max-width: 820px) { body#cex_page .section { font-size: 14px;} }
body#cex_page h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 0.25em;
	}




/* The Page Header
----------------------------------------------------------------------------- */
body#cex_page #header {
	padding-top: 25px;
	}
body#cex_page #header #logo {
	float: left;
	}
body#cex_page #header p.homepage {
	float: right;
	margin: 0;
	font-size: 0.75em;
	letter-spacing: 0.3em;
	line-height: 1em;
	text-transform: uppercase;
	color: #fff;
	}
body#cex_page #header p.homepage a {
	text-decoration: none;
	border-bottom: 3px solid transparent;
	color: #fff;
	padding-bottom: 8px;
	}
body#cex_page #header p.homepage a:hover {
	color: #fff000;
	border-bottom: 3px solid #fff000;
	}




/* The Toggles
----------------------------------------------------------------------------- */
body#cex_page #toggles {
	width: 20%;
	float: left;
	/*max-width: 300px;*/
	position: absolute;
	font-size: 1.5em;
	line-height: 1.3em;
	}
body#cex_page #toggles p {
	margin-bottom: 20px;
	color: #fff;
	}
body#cex_page #toggles ul {
	list-style: none;
	padding: 0;
	}
body#cex_page #toggles ul li {
	/*line-height: 1.33;*/
	}
body#cex_page #toggles ul li a {
	color: #b3b3b3;
	text-decoration: none;
	}
body#cex_page #toggles ul li a:hover {
	color: #fff;
	}
body#cex_page #toggles ul li a.selected {
	color: #fff;
	}




/* The Badge
----------------------------------------------------------------------------- */
body#cex_page canvas#cex_page_badge_canvas {
	width: 550px;
	height: 550px;
	position: relative;
	margin: 35px auto 25px auto;
	display: block;
	}
	@media (max-width: 1100px) { body#cex_page canvas#cex_page_badge_canvas { width: 450px; height: 450px; } }
	@media (max-width: 820px) { body#cex_page canvas#cex_page_badge_canvas { width: 350px; height: 350px; } }
	@media (max-width: 500px) { body#cex_page canvas#cex_page_badge_canvas { width: 275px; height: 275px; } }


/* The Distribution Tables
----------------------------------------------------------------------------- */
body#cex_page #tables #distribution {
	float: left;
	width: 48.5%;
	}
body#cex_page #tables #sites {
	float: right;
	width: 48.5%;
	}
body#cex_page #tables table {
	width: 100%;
	border-collapse: collapse;
	}
body#cex_page #tables table .thead {
	/* font-weight: bold; */
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	}
body#cex_page #tables table tr {
	border-top: 1px solid #888;
	}
body#cex_page #tables table tr:first-child {
	border-top: none;
	border-bottom: 5px solid #fff;
	}
body#cex_page #tables table tr:first-child td {
	padding: 0 0 6px;
	}
body#cex_page #tables table td {
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #fff;
	font-size: 1em;
	padding: 6px 0 9px 0;
	border: none;
	}
.body#cex_page #tables table td.first {
	text-align: left;
	}
body#cex_page #tables table td.second {
	text-align: right;
	}




/* The Map
----------------------------------------------------------------------------- */
body#cex_page #map #cex_page_map {
	width: 100%;
	height: 550px;
	border: 5px solid #fff;
	box-sizing: border-box;
	background: #000;
	text-align: center;
	}
body#cex_page #map #cex_page_map .leaflet-control-attribution {
	background: rgba(0, 0, 0, 0.701961) !important;
	padding: 2px 5px !important;
	font-size: 12px !important;
	color: #fff !important;
	}
body#cex_page #map #cex_page_map .leaflet-control-attribution a {
	color: rgba(255, 255, 255, 0.701961 !important);
	text-decoration: none !important;
	font-size: 12px !important;
	color: #fff !important;
	}
body#cex_page #map #cex_page_map .leaflet-popup-content-wrapper {
	background: rgba(0,0,0,0.75);
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	}
body#cex_page #map #cex_page_map .leaflet-popup-tip-container {
	width:15px;
	height:15px;
	}
body#cex_page #map #cex_page_map .leaflet-popup-tip {
	display: none;
	}
body#cex_page #map #cex_page_map img.leaflet-tile {
    -webkit-filter: grayscale(1) !important; /* Webkit */
    filter: gray !important; /* IE6-9 */
    filter: grayscale(1) !important; /* W3C */
  	}
body#cex_page #map #cex_page_map #cex_page_map_loading {
	width: 400px !important;
	height: 300px !important;
	margin: 125px auto 0 !important;
	}



/* The Sharing Button, etc.
----------------------------------------------------------------------------- */
body#cex_page #share,
body#cex_page #delete {
	margin-top: 50px;
	}
body#cex_page #share p.sharelink,
body#cex_page #delete p.deletelink {
	margin: 0 0 75px 0;
	}
body#cex_page #share p.sharelink a,
body#cex_page #delete p.deletelink a {
	margin: 0 auto 0 auto;
	position: relative;
	display: block;
	font-size: 1.5em;
	line-height: 1.5em;
	height: 325px;
	width: 325px;
	padding: 95px 0 0 0;
	vertical-align: middle;
	text-align: center;
	border-radius: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	}
body#cex_page #share p.sharelink a	{ border: 16px solid #fff000; }
body#cex_page #delete p.deletelink a { border: 16px solid #ff0033; }
body#cex_page #share p.sharelink a:hover {
	background: #fff000;
	color: #000;
	}
body#cex_page #delete p.deletelink a:hover {
	background: #ff0033;
	color: #fff;
	}
body#cex_page #share p.info,
body#cex_page #delete p.info {
	margin: 7px 0 0 0;
	width: 25%;
	float: left;
	font-size: 0.75em;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	position: absolute;
	} /* the info blurb */




/* Citizenship
----------------------------------------------------------------------------- */
body#cex_page #citizenship {
	background: #00dcdc;
	padding-bottom: 25px;
	}
body#cex_page #citizenship-wrapper {
	width: 80%;
	max-width: 850px;
	}
body#cex_page #citizenship h2,
body#cex_page #citizenship p {
	color: #000;
	}
body#cex_page #citizenship h2 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5em;
	letter-spacing: 0.3em;
	}
body#cex_page #citizenship p {
	font-size: 1.5em;
	line-height: 1.3em;
	}
body#cex_page #citizenship a {
	color: #000;
	border-bottom: 3px solid #fff;
	text-decoration: none;
	}
body#cex_page #citizenship a:hover {
	color: #fff;
	border-bottom: 3px solid #fff;
	}




/* About
----------------------------------------------------------------------------- */
body#cex_page #about {
	background: #fff;
	}
body#cex_page #about h2,
body#cex_page #about p {
	color: #000;
	}
body#cex_page #about p {
	font-size: 1em;
	letter-spacing: 0.03em;
	line-height: 1.4em;
	}
body#cex_page #about #left {
	width: 48.5%;
	float: left;
	}
body#cex_page #about #right {
	width: 48.5%;
	float: right;
	}
body#cex_page #about a {
	text-decoration: none;
	color: #000;
	border-bottom: 2px solid #00dcdc;
	}
body#cex_page #about a:hover {
	color: #00dcdc;
	border-bottom: 2px solid #00dcdc;
	}




/* The Footer
----------------------------------------------------------------------------- */
body#cex_page #footer {
	background: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	}
#footer .credits {
	float: left;
	}
#footer .nav {
	float: right;
	}
#footer .nav ul {
	list-style: none;
	text-align: right;
	}
#footer .nav ul li {
	display: inline;
	font-size: 0.75em;
	margin-left: 20px;
	text-transform: uppercase;
	}
#footer h3.logo {
	text-indent: -9999999px;
	background: transparent url(../i/logo-small-white.svg) 0 0 no-repeat;
	width: 433px;
	height: 32px;
	background-size: auto 32px;
	margin-bottom: 200px !important;
	}
#footer .additional-credit {
	margin-top: 75px;
	}
#footer p.subhead {
	margin: 25px 0 0 0;
	}
#footer p {
	font-size: 1em;
	margin: 0;
	line-height: 1.5em;
	}
#footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	}
#footer a:hover {
	color: #fff000;
	border-bottom: 2px solid #fff000;
	}
