* {
	margin: 0;
	padding: 0;
	}
body {
	background: #666;
	text-align: center;
	}
#badge_image {
	margin: 100px auto;
	width: 500px;
	height: 500px;
	border: none;
	}
#badge {
	margin: 100px auto;
	width: 500px;
	height: 500px;
/* 	display: none; */
	}