<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>James Bridle and Nat Buckley</string>
	<key>Builder Version</key>
	<string>10600.4.10.7</string>
	<key>CFBundleDisplayName</key>
	<string>Citizen Ex</string>
	<key>CFBundleIdentifier</key>
	<string>com.booktwo.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>global.html</string>
				<key>Label</key>
				<string>Global</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>52428800</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openSidebar</string>
				<key>Identifier</key>
				<string>toggle</string>
				<key>Image</key>
				<string>icon16.png</string>
				<key>Label</key>
				<string>Toggle</string>
				<key>Tool Tip</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>lib/moment.js</string>
				<string>lib/underscore.js</string>
				<string>lib/jquery.js</string>
				<string>lib/backbone.js</string>
				<string>injected/setup.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>injected/browserAction.css</string>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>R9WHUEF8R8</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
