<div id="container">

	<div id="header">
		<img id="logo" src="" width="107" height="24" />
		<p class="homepage"><a href="http://citizen-ex.com">citizen-ex.com &raquo;</a></p>
		<script type="text/javascript">
            if (!_.isUndefined(window.chrome)) {
              $('#header #logo').attr('src',chrome.extension.getURL('images/logo-small-white.svg'));

            } else if (safari) {
              $('#header #logo').attr('src',safari.extension.baseURI + 'images/logo-small-white.png');
            }
		</script>
	</div>

	<div id="toggles">
		<p>This is your Algorithmic Citizenship for:</p>
	    <ul>
          <li><a href="#" class="cex_toggle <% if (timeframe.name === 'all-time') { %> selected <% } %>" name="all-time">All time</a></li>
        	<li><a href="#" class="cex_toggle <% if (timeframe.name === 'month') { %> selected <% } %>" name="month">This month</a></li>
        	<li><a href="#" class="cex_toggle <% if (timeframe.name === 'week') { %> selected <% } %>" name="week">This week</a></li>
        	<li><a href="#" class="cex_toggle <% if (timeframe.name === 'day') { %> selected <% } %>" name="day">Today</a></li>
        </ul>
	</div>

	

      Timeframe:
      <%= timeframe.name %>
      <br>
      Timeframe duration:
      <%= timeframe.duration %>
      <br>
      Timeframe citizenship
      <br>
      <% _.each(timeframeCitizenship, function(country) { %>
          <tr>
              <td class="cex_country"><%= cxPage.convertCountryCode(country.code) %></td>
              <td class="cex_percentage"><%= country.percentage %></td>
          </tr>
      <% }); %>
      <br>
      Timeframe entries
      <br>
      <% _.each(timeframeEntries, function(entry) { %>
        <%= entry.url %>
      <% }); %>
      <br>
      Timeframe domains
      <br>
      <% _.each(timeframeDomains, function(entry) { %>
        <%= entry.code %> | <%= entry.percentage %>
      <% }); %>

	</div><!-- #cex_main -->

</div>
